.login-page-container {
  --background: #f4f5f8;
}

.login-page-header {
  --background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.login-page-title {
  font-weight: bold;
  color: #4b4b4b;
}

.login-card {
  border-radius: 20px;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 8px;
  font-weight: 700;
  color: #111;
}

.input-field-wrapper {
  margin-bottom: 2rem;
}

.input-outline-error {
  --border-color: var(--ion-color-danger) !important;
  --border-color-focused: var(--ion-color-danger) !important;
  --border-color-hover: var(--ion-color-danger) !important;
}

.password-wrapper {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
}

.error-text {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.login-button {
  --border-radius: 12px;
  --background: linear-gradient(90deg, #5c5cff, #4a4ae0);
  --background-activated: #3f3fd1;
  margin-top: 1rem;
  height: 50px;
  font-weight: bold;
  font-size: 1rem;
}

.register-link-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #666;
}

.register-link {
  font-weight: bold;
  color: #5c5cff;
  margin-top: 30px;
}

.forgot-password-text {
  margin-top: 2px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 0.85rem;
}
.forgot-password-link {
  color: #3880ff;
  font-size: 0.9rem;
  text-decoration: none;
  margin-top: 4px;
  position: relative;
  top: -29px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}