.link-text {
  margin-top: 15px !important;
  text-align: center;
}

.toast-danger {
  --background: #eb445a;
  --color: #ffffff;
  font-weight: bold;
}

ion-toast {
  z-index: 9999 !important;
  display: block !important;
}
